@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html * {
   color: #fff;
   font-family: "Josefin Sans";
}
body {
   background: #181a1f;

}
::-moz-selection {
  color: #bd93f9;
  background: #50fa7b;
}

::selection {
  color: #bd93f9;
  background: #50fa7b;
}
img {
  display: inline-block;
}